@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400&display=swap');

body,
html {
	font-family: 'Barlow', sans-serif !important;
	background-color: black !important;
	color: white !important;
	overflow-x: hidden;
}

#page-title {
	margin-left: auto;
	margin-right: 27%;
	text-align: start;
}

.instruction {
	border: 2px dotted white;
}

.img-wrap {
	width: 25rem;
	height: 15rem;
}

.menu-img {
	width: 25rem;
	height: 15rem;
	border: 2px solid white;
}

.menu-span {
	font-size: 20pt;
	padding: 10px;
	color: white;
	opacity: 0;
	transition: 1s;

	position: relative;
	top: -60%;
	left: 36%;
}

.img-wrap:hover img {
	opacity: 0.5;
}

.img-wrap:hover span {
	opacity: 1;
}

a:link {
	text-decoration: none;
}

footer {
	position: relative;
	top: 20%;
}

.title {
	color: red;
}

.nav-more a {
	color: white;
}

.nav-more a:link {
	color: white;
}
/* emf and tarot colors */
#emf2 {
	color: green;
}

#emf3 {
	color: yellow;
}

#emf4 {
	color: orange;
}

#emf5 {
	color: red;
}

#sun {
	color: yellow;
}

#moon {
	color: white;
}

#tower {
	color: blue;
}

#wheel {
	color: green;
}

#fortune {
	color: red;
}

#devil {
	color: pink;
}

#priestess {
	color: rgb(255, 255, 137);
}

#death {
	color: purple;
}

#hermit {
	color: cyan;
}

#fool {
	color: violet;
}
