body {
	background-color: black;
	color: rgb(176, 176, 176);
	font-family: sans-serif;
}

header {
	margin-bottom: 4rem;
}

.site-title {
	position: relative;
	left: 5rem;
	top: 1rem;
	text-transform: uppercase;
	width: 50rem;
}

.page-title {
	text-transform: uppercase;
	text-decoration: underline;
	text-align: center;
}

button {
	position: relative;
	left: 2rem;

	padding: 10px;
	border-radius: 5px;
}

h4.instruction {
	position: relative;
	left: 1rem;
	width: 400px;
}

nav {
	display: flex;
	justify-content: space-evenly;
}

.img-wrap {
	display: flex;
	position: relative;
	width: 30rem;
	height: 20rem;
}

.menu-img {
	width: 30rem;
	height: 20rem;
}

/*index images small size style*/
@media (max-width: 1300px) {
	.img-wrap {
		width: 20rem;
		height: 15rem;
	}
	.menu-img {
		width: 20rem;
		height: 15rem;
	}
}
/**/

span {
	font-size: 20pt;
	padding: 10px;
	color: white;
	opacity: 0;

	position: relative;
	top: -50%;
	left: 35%;
}

a:link {
	text-decoration: none;
}

.img-wrap:hover img {
	opacity: 0.5;
}

.img-wrap:hover span {
	opacity: 1;
}

.welcome-noob {
	display: flex;
	flex-direction: column;
	width: 40rem;
	border: 1px solid white;
	padding: 10px;

	margin-top: 5rem;
	margin-left: 2rem;
}

.welcome-noob button {
	width: 20rem;
}

/**/
/* GHOSTS PAGE */
/**/

.ghost-name {
	border: 1px solid rgb(176, 176, 176);
	width: 130px;
	padding: 5px;
	margin-bottom: 10px;
	list-style-position: inside;
}

.ghost-description {
	border: 1px solid rgb(176, 176, 176);
	width: fit-content;
	padding: 5px;
	margin-bottom: 10px;
	margin-top: -10px;
	margin-left: 10px;
	list-style-position: inside;
}

/**/
/* MAPS PAGE */
/**/
h3.instruction {
	font-size: 12pt;
}

.tanglewood {
	display: flex;
	flex-direction: row;
	gap: 5rem;
	margin-top: 4rem;
}

.map-img {
	width: 40rem;
	height: 40rem;
}

.map-description {
	height: 40rem;
}

.text {
	text-indent: 2rem;
}
